.main-title {
    margin-bottom: 30px
}

.form-title {
    margin-top: 0px;
    margin-bottom: 20px;
} 

.hand:hover{
	cursor: pointer;
}

table {
   border-collapse: separate;
   border-spacing: 5px;
   color:black;
}
